version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - ai

  ai:
    build: ./AI
    ports:
      - "5000:5000"